<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap">
</head>
<body>
  <div class="container" >
    <div class="about" >
      <div class="headsection">
        <p class="heading">Get In Touch</p>
        <p class="subheading">I'm currently looking for any new opportunities, my inbox is always open. Whether you have a question, want to collaborate on a project or just want to say hi, I'll definitely get back to you!</p>

        <div (click)="openLink()">
          <button class="contactBtn" >
            Contact Me <img src="../../../assets/l5.png" style="height: 17px; width: 17px; margin-left: 1px; margin-bottom: -2px; margin-right: 5px;">
          </button>
        </div>
        

        <div class="socials" style="display: flex;">
          <a href="https://www.linkedin.com/in/nkosinathi-sikhosana-8b3912169/" target="_blank">
              <img src="../../../assets/s1.png" class="social-icon" alt="LinkedIn">
          </a>
          <a href="https://twitter.com" target="_blank">
              <img src="../../../assets/s2.png" class="social-icon" alt="Twitter">
          </a>
          <a href="https://www.instagram.com/nathitumelo/" target="_blank">
              <img src="../../../assets/s3.png" class="social-icon" alt="Instagram">
          </a>
          <a href="https://github.com/nathithecreator" target="_blank">
              <img src="../../../assets/s4.png" class="social-icon" alt="GitHub">
          </a>
      </div>
      
        
        <div class="footer">
          <p>Built by Nkosinathi Sikhosana © 2024. All rights reserved.</p>
        </div>
        

      </div>
  
      
      
    </div>
  </div>
  
</body>
</html>
