<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap">
</head>
<body>
  <div class="about">
    <div class="headsection" >
      <div class="titleimage-container">
        <img src="../../../../assets/gif/l.gif"  class="titleimg">
      </div>
  
      <p class="heading">Education</p>
      <p class="subheading">Where I studied & Academic achievements </p>
    </div>

    <div class="timeline" >


      <div class="container left-container" >
        <div class="text-box">
          <h2 class="courseName">Havard Univeristy CS50</h2>
          <div style="display: flex;">
            <a href="https://www.google.com/maps/place/Massachusetts+Hall,+Cambridge,+MA+02138,+USA" target="_blank" style="display: flex; text-decoration: none;">
              <img src="../../../assets/l2.png" style="height: 12px; width: 12px; margin-left: 10px; margin-top: 5px;">
              <span class="location">(Remote) United States, MA 02138, Massachusetts Hall, Cambridge</span>
            </a>
          </div>
          <p class="descCourse" style="color: gray; "> The CS50 course teaches students how to think algorithmically and solve problems efficiently. Topics include abstraction, algorithms, data structures, encapsulation, resource management, security, software engineering, and web development. </p>
        </div>
      </div>


      <div class="container right-container">
        <div class="text-box">
          <img src="../../../assets/calen.png"  class="timeImg">
          <span class="timeLap">Jan 2024 - Feb 2024</span>
        </div>
      </div>


      <div class="container left-container" >
        <div class="text-box">
          <h2 class="courseName">Diploma in Software Development</h2>
          <div style="display: flex;">
            <a href="https://maps.app.goo.gl/bXW7azG7jmuGm58Y9" target="_blank" style="display: flex; text-decoration: none;">
            <img src="../../../assets/l2.png" style="height: 12px; width: 12px; margin-left: 10px; margin-top: 5px;">
            <span class="location">Pretoria CBD, 239 Pretorius St, Pretoria, 0126, Gauteng, South Africa
            </span>
          </a>
          </div>
          <p class="descCourse" style="color: gray; ">I completed my diploma in software Development where we did java in the first year, c# in the 2nd also learned databases such as oracle and mysql etc, also learned non-technical subjects such as project management and software testing.</p>
        </div>
      </div>


      <div class="container right-container">
        <div class="text-box">
          <img src="../../../assets/calen.png"class="timeImg">
          <span class="timeLap">Jan 2020 - Dec 2023</span>
        </div>
      </div>

      <div class="container left-container">
        <div class="text-box">
          <h2  class="courseName">Hoerskool Hercules Matric 2019</h2>
          <div style="display: flex;">
            <a href="https://maps.app.goo.gl/kMHEF6a3eqm83z1y6" target="_blank" style="display: flex; text-decoration: none;">
            <img src="../../../assets/l2.png" style="height: 12px; width: 12px; margin-left: 10px; margin-top: 5px;">
            <span class="location">Hercules, 790 Montagu St, Pretoria, 0001, Gauteng, South Africa</span>
          </a>
          </div>
          
          <p style="color: gray; " class="descCourse">I completed my matric at Hercules Hoerskool in which my subjects were Mathematics, Physical Science, English, Afrikaans, Computer Application Technology, Tourism, Life Orientation</p>
        </div>
      </div>

      <div class="container right-container">
        <div class="text-box">
          <img src="../../../assets/calen.png" class="timeImg">
          <span class="timeLap">Jan 2017 - Dec 2019</span>
        </div>
      </div>


    </div>
    
  </div>
</body>
</html>
