<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap">
</head>
<body>
  <div class="about">
    <div class="headsection" >
      <div class="image-container">
        <img src="../../../assets/gif/v.gif"  class="projectimg">
      </div>
      <p class="heading">About Me</p>
      <p class="subheading">Get to Know More About Me And what I Do</p>
    </div>

    <div class="words" >
      <div class="paragraph">
        <p>
          My name is Nkosinathi Tumelo Sikhosana and I am a hardworking Software Developer with a passion for leveraging the latest technology to create positive change to Software Development. I specialized and code with Angular with ASP.NET C# for my side projects, but my strong interest in fintech also led me to explore Java and Springboot. My fascination with cloud technologies led me to pursue and achieve the AWS Cloud and Azure AZ-00 certifications. I hold a diploma in software development, fueled by a love for innovation and problem-solving. I'm constantly learning new technologies, with a current focus on exploring sagemaker from AWS and AI for it's potential to revolutionize software development.
          <br>
          <br>
          I chose Software Development because I am a creative person who loves to solve problems with my creativity, I was that kid who loves to draw growing up, I love the artitistic part of software development, I love designing user interfaces and also improving user interfaces of apps that already exist. I design using Figma and for more complex designs I use Adobe Photoshop. 
          <br>
          <br>
          Besides Software Development I am a football fan, I supported Manchester United in the premier league growing up, I also enjoyed watching Barcelona in La Liga. What I love about football is that it emphasizes that importance of team work, which is something I love about software development projects. Other than watching football I enjoy watching action movies & series, I'm a huge Mission Impossible fan, I love how tech is used in action movies, which is another reason why I chose to study a tech qualification in tertiary.  
          <br>
        </p>
      </div>
      

      <div class="BasicInfo">

        <div class="b1" style=" height: auto; width: 130px;">
          <p class="titletopic">Birthday</p>
          <div style="margin: 10px;">
            <img src="../../../assets/calen.png" style="height: 17px; width: 17px;  margin-bottom: -2px;">
          <span class="detailtopic">11 Aug 2001</span>
          </div>
        </div>

        <div class="b1" style=" height: auto; width: 220px; ">
          <p class="titletopic">Email</p>
          <div style="margin: 10px;">
            <img src="../../../assets/s5.png" style="height: 17px; width: 17px;  margin-bottom: -2px;">
          <span class="detailtopic" >nts2melo&#64;gmail.com</span>
          </div>
        </div>

        <div class="b1" style=" height: auto; width: 140px; ">
          <p class="titletopic" >Phone</p>
          <div style="margin: 10px;">
            <img src="../../../assets/l4.png" style="height: 17px; width: 17px;  margin-bottom: -2px;">
          <span class="detailtopic" >081 722 7457</span>
          </div>
        </div>
        
        <div class="b1" style=" height: auto; width: 270px; ">
          <p class="titletopic" >Address</p>
          <div style="margin: 10px;">
            <img src="../../../assets/l2.png" style="height: 17px; width: 17px;  margin-bottom: -2px;">
          <span class="detailtopic" >Midrand Gauteng, South Africa</span>
          </div>
        </div>


        



      </div>


      <div class="image-container2">
        <img src="../../../assets/gif/scroll4.gif"  class="scrollimg">
      </div>



    </div>
    
  </div>
</body>
</html>
