<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap">
</head>
<body>
  <div class="project" >


    <div class="pheadsection">
      <p class="heading">Projects</p>
      <p class="subheading">My Amazing Work & What I've Been Working On</p>
    </div>

    <div class="works">

      <!-- the first project -->
    <div class="pro1">
      <!-- image-section -->
      <div class="image-container">
            <img src="../../../assets/p9.png"  class="projectimg">
      </div> 

      <p class="title" >Blog Web Application</p>
      <p class="about" style="margin: 10px;">Gosipjuice is a blog web application that focus on topics such as the latest news about Technology, Fashion and motor vehicles. The web application can do crud on Blogs & categories.  The application uses jwt token for authentication. </p>

      <div class="techstacks">
        <div class="triangle" style="text-align: center;">
          <div class="row">
            <div class="lg" >Angular</div>
            <div class="lg" >C#</div>
            <div class="lg" >ASP.NET</div>
            <div class="lg" >JwT</div>
            <div class="lg" >MySql</div>
            <div class="lg" >HTML5</div>
          </div>
        </div>
      </div>

    
    </div>

    <div class="pro1">
      <!-- image-section -->
      <div class="image-container">
            <img src="../../../assets/p11.png"  class="projectimg">
      </div> 

      <p class="title" >Ecommerce Application</p>
      <p class="about" style="margin: 10px;">Emily Jones is a furniture ecommerce stores that sells luxurious furniture such as couches, TV stands, Headboards, Table, Chairs and Accesories. The admin can be able to add, edit and delete items in his/her store. </p>


      <div class="techstacks">
        <div class="triangle" style="text-align: center;">
          <div class="row">
            <div class="lg" >Angular</div>
            <div class="lg" >C#</div>
            <div class="lg" >ASP.NET</div>
            <div class="lg" >Azure</div>
            <div class="lg" >MySql</div>
            <div class="lg" >Javascript</div>
          </div>
        </div>
      </div>

    
    </div>

    <div class="pro1">
      <!-- image-section -->
      <div class="image-container" >
            <img src="../../../assets/p10.png"  class="projectimg">
      </div> 

      <p class="title" >G-Bird Android App</p>

      <p class="about" style="margin: 10px;">G-Bird is a bird watching application that bird watchers use track bird hotspots around their location. The app measures the distance between your current location and the hotspot. Also save & take pictures of the bird. </p>

      <div class="techstacks">
        <div class="triangle" style="text-align: center;">
          <div class="row">
            <div class="lg" >Java</div>
            <div class="lg" >Firebase</div>
            <div class="lg" >E-Bird API</div>
            
          </div>
        </div>
      </div>

    
    </div>

    <div class="pro1">
      <!-- image-section -->
      <div class="image-container">
            <img src="../../../assets/p7.png"  class="projectimg">
      </div> 

      <p class="title"> Weather Web Application</p>
      <p class="about" style="margin: 10px;">Weda is a react web application that users can use check the weather. The application used an API using axios from Openweathermap.org and also changes pictures depending on the location. </p>


      <div class="techstacks">
        <div class="triangle" style="text-align: center;">
          <div class="row">
            <div class="lg" >React</div>
            <div class="lg" >Java</div>
            <div class="lg" >Javascript</div>
            <div class="lg" >Axios</div>
          </div>
        </div>
      </div>

    
    </div>
    
    
    </div>

    <div class="image-container2">
      <img src="../../../assets/gif/scroll4.gif"  class="scrollimg">
    </div>
     
    

    
  </div>
</body>
</html>
