/* You can add global styles to this file, and also import other style files */
html, body {
  overflow-x: hidden !important;
  background-color: #000085;
}


@media (min-width: 819px) and (max-width: 900px){
  html, body {
    overflow-x: hidden !important;
    background-color: #0000f8;
  }
}


/* styles.css or styles.scss */
::-webkit-scrollbar {
  width: 7px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #141414; /* Background color of the track */
}

::-webkit-scrollbar-thumb {
  background: #000d81; /* Color of the thumb */
  border-radius: 1px; /* Roundness of the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #e5ff00; /* Color of the thumb on hover F5F5DC*/
}


